body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x:hidden;

  
}
/* nav-bar section start */

.nav-wrap{
    /* display: none; */
    height: 10vh;
    /* background-color:green; */
}
.nav-bar{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.nav-container{
    display: flex;
    

}
.logo a img{
    width: 120px;
}
.menu-section{
    background-color:#45a049;
    position: absolute;
    right: -100%;
    top: 10vh;
    width: 70%;
    height: 100%;
    transition: 2s;

    
}
.menu{
    list-style: none;

}
.show{
    right: 0;
    transition: 2s;
}
.menu li a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    line-height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu li  .dropdown-content {
   margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.burger-div{
    align-self: center;
    font-size: 28px;
    color: #45a049;
    cursor: pointer;
}

/* nav-bar section end */


/* header-section mobile-phone start */
.header-section{
    background-image: url("image/green-energy-21.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-blend-mode:overlay;
    padding: 0;
    background-color: rgb(231, 238, 231);
    
}


div.header-half {
    width: 100%;
    padding-top:10px;
    border-radius: 5px;
    text-align: left;
    
}	



.header-desc {
    padding:0px 20px ;
    text-align: left;
    text-transform: capitalize;
    line-height: 40px;
    font-weight: 1000;
    margin: 0;
    letter-spacing: 1px;
    color:rgb(94, 86, 86);
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-desc-content{
    text-align: left;
    padding:0px 20px ;
    line-height: 30px;
    margin: 50px 0;
    font-size:14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(92, 91, 91);
    font-weight: 100;

}
.subscribe{
    padding: 15px 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background:#4caf50 ;
    color:white;
    font-size:100%;
    border:2px solid #4caf50;
    text-align: left;
    cursor:pointer;
    display:block;
    border-radius:2px;
    margin: 0 auto;

}
.subscribe:hover{
    background-color: transparent;
    border:2px solid #4caf50;
    color:#4caf50;
    transition:all 0.5s ease-in;
  
}

.de-color{
    color:#4CAF50;
}
.header-section img{
    width: 90%;
    margin:10px 0px 0px 10px;
  
}
/* header-section mobile-phone End */



/* Topic section mobile phone start */
div.topic-section{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    padding:20px 0px ;
    letter-spacing: 3px;
    font-family:   monospace;
    color:rgb(92, 87, 87);
    background-color: #f1f1f1;
    margin:20px 0;
}
.topic-section span{
    color:rgb(6, 126, 6);
}

/* Topic section mobile phone end */


/* call to action section mobile start */

.call-to-action{
    width:100%;


}

div.img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /*for box shadow */
    text-align: center;
    border-radius: 5px;
    width:90%;
    margin:30px auto;
}	


div.img img {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
}

div.desc {
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.desc-content{
    text-align: center;
    font-size:14px;
    color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 15px;
    line-height: 30px;
}
.de-color{
    color:#4CAF50;
}
/* Call-to-action-section mobile end */






/*  topic-section start  */




/* call to action section end*/



/* icon-box-section mobile start */

.Icon-box-Section{
    background-color: #f1f1f1;
    width:100%;
}

div.icon-box {
    margin:20px auto;
    text-align: justify;
    width:90%;
    background-color: rgb(255, 255, 255);
    
}
div.icon-box a{
  height:200px;
  align-items: center;
  justify-content: center;
  display:flex;
}	


div.icon-box img {
    
}
div.icon-box img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in;
    
}

div.icon-box .desc {
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.icon-box .desc-content{
    text-align: left;
    line-height: 30px;
    text-align: center;
    font-size:16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(97, 95, 95);
}
.de-color{
    color:#4CAF50;
}
/* icon-box-section end */


/* bio section start mobile */



.bio{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    margin:0 auto;
    width:90%;
    padding:10px;
 
    
}

.bio-half {
    
    width:100%;
    
}	


.bio img {
    width: 100%;
}

.bio .header-desc {
    text-align: left;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    color:rgb(94, 86, 86);
    font-size: 25px;
    font-family: Lucida Sans;
}
.header-desc-content{
    text-align: left;
    font-size:14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about-button{
    padding: 12px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background:black;
    color:white;
    font-size:14px;
    border:2px solid black;
    cursor:pointer;
    margin:0px 0px 0px 20px; 
    display:block;
    border-radius:0px;
}

.about-button:hover{
    background-color: white;
    border:2px solid black;
    color:black;
    transition:all 0.5s ease-in;
    transform: scale(1.1);
  
}

/* bio section start mobile end */

/* contact sectio mobile start */
.contact{
    clear: both;
    width:80%;
    margin:auto;
}

.my-forms {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /*for box shadow */
    padding: 30px 15px;
    text-align: left;
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:gray;
    width:100%;
    margin-top: 50px;
}
form{
 min-width:100%; 

}




input[type=text], select {
    width: 100%;
    padding: 16px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
select> option{
    /* padding:26px 0; */
    font-size:20px;
    
}
select> option:focus{
    background: #45a050;
    
    
}

input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 0px;
    font-size: 60%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    border:2px solid #4caf50;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #45a049;
    background:white;
    border:2px solid #45a050;
    transition: all 0.8s ease;
}

/* contact sectio mobile end */





/* footer-section-start */

.footer-section{
    background-color:#111111;
    padding:20px 0px 50px 0px;
 


}
.footer-section .footer{
    width:90%;
    margin: auto;
    color:white;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    

}

.footer-section-child{
    text-align: left;
    margin: 0px 10px;
    width:100%;
}
.footer-section-child hr{
    width: 90%;
    margin-left: 0;
    margin-top:-5px;
    height:1px;
    background-color:rgba(100,100,100,0.2);
    border-width:0;
}
.footer-section-child h4{
   font-size: 24px;
   text-transform: capitalize;
   font-weight: 400;
   text-align:left;
}

 .footer-section p {
    max-width:90%;
    text-align: left;
    
     }
 .footer-section .footer-section-child p a{
     text-decoration: none;
     color:#b1a7a7;
     font-weight: 500;
 }
 .footer-section .footer-section-child p a:hover{
    color:#4caf50;

}
 .socials{
     display:flex;
     justify-content:left;
     margin-top:30px;
     list-style: none;
     margin-left: -50px;
 }
 .socials a{
     text-decoration: none;
 }
 .socials .soc{
     background-color:white;
     width:40px;
     margin:10px;
     height:40px;
     border-radius:40px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;

 }
 .socials .soc .fa{
 color:black;
 text-align: center;
 font-size: 18px;

}
.socials .soc:hover .fa{
    color:rgb(6, 126, 6);
    text-align: center;
    font-size: 18px;
   
   }
/* footer-section-End */



@media only screen and (min-width:768px){

    .header-section{
        width: 100%;
        height: 550px;
        padding: 30px;
        
    }
    div.header-half{
        width: 45%;
        float: left;
    }
    .header-section .img-header{
        width: 40%;
        margin-right: 50px;
        margin-top: 60px;
        float: left;

    }
    .subscribe{
        padding: 12px 36px;
        margin-left: 20px;
       
    }

    div.topic-section{
        clear: both;
        margin:20px 0;
   
    }
    .topic-section span{
        color:rgb(6, 126, 6);
    }
    
    /* Topic section Tablet/ipad  end */
    
    
    /* call to action section mobile start */
    
    .call-to-action{
        width:100%;
    
    
    }
    
    div.img {
        width:70%;
        margin:50px auto;
        padding-bottom: 30px;
    }	
    
    
    div.img img {
        width: 100%;
        height: 250px;
        border-radius: 5px 5px 0px 0px;
    }
 
    div.desc-content{
        padding: 10px 20px;
    }
   
    /* Call-to-action-section Tablet/ipad  end */


    
/* icon-box-section Tablet/ipad start */

.Icon-box-Section{
    background-color: #f1f1f1;
    /* background-color: green; */
    width:100%;
}

div.icon-box {
    margin-top: 50px;
    width:70%;
    /* background-color: red; */
    padding-bottom: 20px;
    
}
/* icon-box-section Tablet/ipad end */


/* bio section Tablet/i-pad mobile */



.bio{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    margin:0 auto;
    width:80%;
    padding:10px;
 
    
}

.bio-half {
    
    width:100%;
    
}	


.bio img {
    width: 100%;
    margin: auto;
}

.bio .header-desc .de-color{
    text-align: left;
    text-transform: uppercase;
    font-weight: bolder;
}


/* bio section start Tablet/i-pad end */


/* contact section Tablet/i-pad start */

.my-forms {
    padding: 30px 15px;
}

/* contact section Tablet/i-pad end */
.socials{
    justify-content: left;
}


    

    

}




@media only screen and (min-width:1000px){



  /* Navbar-section Start */
.menu-section{
    background-color: transparent;
    position:static;
    margin-left: 450px;
    transition: 0s;
}

  .nav-wrap{
    position:sticky;
    top:0;
    display: block;
}
.nav-bar{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #333;
    height: 15vh;
    justify-content: space-left;


}
.nav-container{
    display: flex;
    justify-content: space-between;
    min-width:90%;
    margin:auto;
    height: 10vh;
    align-items: center;
    background-color: #333;



}
.logo{
    max-height: 50px;
    display:flex;
    /* align-items: center; */
    justify-content: center;
}
.logo img{
    max-height: 120%;
}
.menu {
list-style-type: none;
margin: 0;
padding: 10px;
overflow: hidden;
}

.menu> li {
float: left;
}

.menu> li> a {
display: block;
color: white;
text-align: center;
padding: 8px 16px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 3px;
font-weight: 600;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu> li> a:hover:not(.active) {
background-color: #111;
}

.active  {
color: #4CAF50 !important;

}




.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.dropdown-content:hover{
    background-color: #f1f1f1;
}
.dropdown-content div:hover a{
    background-color:#4CAF50 ;
    color:white;
    
}
.dropdown-content div a {
    color: black;
    padding: 1px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid rgb(235, 221, 221);
}

.dropdown:hover .dropdown-content {
    display: block;
    
}
.burger-div{
   /* position: absolute; */
    display:none;

}

/* Navbar-section-End*/


    /* header section desktop start */

    .header-section{
     padding: 100px 100px 50px 70px;
        
    }
    div.header-half{
        width: 45%;
        float: left;
    }
    .header-desc{
        font-size: 40px;
        letter-spacing: 1px;
        line-height: 50px;
    }
    .header-section .img-header{
        width: 45%;
        /* margin-right: 50px; */
        float: left;
    }
    .subscribe{
        padding: 15px 45px;
        margin-left: 20px;
       
    }
    /* header section desktop end */



    /* Topic section desktop start */

    div.topic-section{
        /* clear: both; */
        margin:20px 0;
   
    }
    .topic-section span{
        color:rgb(6, 126, 6);
    }
    
    /* Topic section desktop  end */
    
    
    /* call to action section desktop start */
    
    .call-to-action{
        width:90%;
        margin: auto;
        display: flex;
        justify-content: space-around;
    
    
    }
    
    div.img {
        width:30%;
    }	
   
    /* Call-to-action-section destop  end */


    

/* icon-box-section desktop start */

.Icon-box-Section{
    display: flex;
    justify-content:space-around;
    width:100%;
    padding: 100px auto;
}

div.icon-box {
   width: 30%;
}
/* icon-box-section destop end */



/* bio section desktop start */



.bio{
    margin:0 auto;
    width:80%;
    padding:30px;
 
    
}

.bio-half {
    
    width:50%;
    float: right;
    
}	


.bio img {
    width: 50%;
  
}

/* bio section desktop end */






/* contact section desktop start */



.contact{
    width:90%;
    display: flex;
    margin:50px auto;
}

.my-forms {
    padding: 30px 15px;
    width:50%;
    margin-top: 50px;
    
}
.g-map{
    width: 50%;
    margin-left: 20px;
}


/* contact section desktop end */


/* footer section desktop start */
.footer-section{
    width: 100%;
}
.footer{
    width: 90%;
    display: flex;
}
.socials{
    justify-content: left;
}

/* footer section desktop end */



}